@model IEnumerable<WebApp_Test.Models.Message>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Inbox messages</title>
        <script src="js/script.js"></script>
        <!--<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    </head>
    <body class="p-1">
        <h3 class="text-center">Inbox</h3>
            @foreach (var item in Model)
            {
                <input class="message" id="@item.Id" type="checkbox">
                <label id="@item.Id">@item.Title</label><br>
            }
        <form name="deletingForm" onsubmit="return onDeleteSelected()" asp-action="DeleteMessages">   
            <button class="btn btn-primary">Delete selected</button>
        </form>
    
    </body>
</html>